{
    "prettier": {
        "overrides": [
            {
                "files": "*.md",
                "options": {
                    "proseWrap": "preserve",
                    "printWidth": 99999
                }
            }
        ]
    }
}
